<div class="modal-header">
    <input type="text" class="modal-title memo-title-input" ng-model="memo.title" placeholder="标题" />
</div>
<div class="modal-body" id="modal-body">
    <!--<section class="editor-content" ng-model="memo.content" contenteditable="true" strip-br="true" strip-tags="true" select-non-editable="true"></section>-->
    <textarea id="editor" placeholder="请输入内容" ng-model="memo.content" autofocus></textarea>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="confirm()">保存</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">取消</button>
</div>